:root {
	--color-principal: #12364E;
	--color-secundario: #E9EDEE;
	--color-terciario: #76C212;
	--color-acc: #ffb700;
	--color-negro: #000;
	--color-blanco: #faf6f6;
	--primary-font: "Open Sans", Helvetica, sans-serif;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
}
h1 {
	font-weight: 700;
	color: var(--color-blanco);
	text-align: center;
}

h3 {
	font-size: 1.2em;
}
 
main{
	min-height: 50vh;
}
main p{
	text-align: center;
}
.navbar-brand {
	font-weight: 600;
}
.navbar-brand span {
	font-weight: 800;
	color: var(--color-principal);
}
.tit2 {
	font-size: 3em !important;
	color: var(--color-principal);
	font-weight: 700;
}
header {
	padding: 0;
	background-color: var(--color-principal);
}
.navbar-toggler {
	width: 60px;
}
.row > div > p,
label {
	color: var(--color-blanco);
}

.row > div h2,
.row > div h3 {
	color: var(--color-blanco);
	font-weight: 600;
}
.row > div h2 {
	padding: 0;
	border: 0;
	color: var(--color-terciario);
}
.row > div span {
	color: var(--color-acc);
}
button, .btn2 {
	background-color: var(--color-terciario) !important;
	color: var(--color-blanco) !important;
	width: 150px;
}
.btn2{
	margin: 2em auto;
}
.input-group{
	width: 60%;
}
button:hover, .btn2:hover {
	background-color: #57910b !important;
}
main {
	background: url(https://i.ibb.co/PMNBbTV/bg1.jpg);
	background-position: center;
	background-size: cover;
}
footer {
	background-color: var(--color-principal);
}
ul {
	list-style: none;
	text-align: center;
	padding: 16px;
}
ul li {
	color: var(--color-blanco);
}
header > div > div > div {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.card {
	margin: 2em auto 2em;
	max-width: 50%;
}
.card-text {
	text-align: left;
	font-weight: 600;
	color: var(--color-principal);
}
.card-body{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.card-header {
	text-align: center;
	background-color: var(--color-principal);
	color: var(--color-blanco);
}
.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#iconoClima {
	max-width: 25%;
	width: 25%;
	margin: 1em auto;
	display: block;
}
nav {
	padding: 0 4em;
}
@media screen and (max-width: 500px) {
	.input-group{
		width: 100%;
	}
	.card {
		width: 80%;
		max-width: 100%;
		margin: 1em auto;
	}
	.card img{
		width: 100%;
	}
	.row > div h2 {
		margin-top: 1.4em;
	}
	nav{
		padding: 0 1em;
	}
}
